<div style="float: right;">
    <img ng-src="{{'/assets/images/detroit/TreasureNestWinter.png'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/detroit/CHANDYLEER.jpg'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/detroit/DachaStage.png'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/detroit/Me_Artem_Chandelier.png'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/detroit/inside.png'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/detroit/WIZARDSHACK.jpg'}}" style="width: 100%; vertical-align: middle;"/>
</div>