<div style="float: right;">
    <img ng-src="{{'/assets/images/detroit/CHANDYLEER.jpg'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/detroit/DachaStage.PNG'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/detroit/Me&Artem_Chandelier.PNG'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/detroit/TNEST.jpg'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/detroit/TreasureNestWinter.png'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/detroit/WIZARDSHACK.jpg'}}" style="width: 100%; vertical-align: middle;"/>
</div>