<div style="float: right;">
    <img ng-src="{{'/assets/images/1/2212_28A.jpg'}}" style="width: 100%; vertical-align: middle"/>
    <img ng-src="{{'/assets/images/1/2212_28A.jpg'}}" style="width: 100%; vertical-align: middle"/>
    <img ng-src="{{'/assets/images/1/2212_28A.jpg'}}" style="width: 100%; vertical-align: middle"/>
    <img ng-src="{{'/assets/images/1/2212_28A.jpg'}}" style="width: 100%; vertical-align: middle"/>
    <img ng-src="{{'/assets/images/1/2212_28A.jpg'}}" style="width: 100%; vertical-align: middle"/>
    <img ng-src="{{'/assets/images/1/2212_28A.jpg'}}" style="width: 100%; vertical-align: middle"/>

</div>
<div style="position: absolute; right: 0px; padding: 10px">
    <text ng-mouseover="topStyle={'background-color':'pink'}" 
          ng-mouseout="topStyle={}" ng-style="topStyle">
        Is anybody out there? Can you hear me?
    </text>
    <div ng-mouseover="sunStyle={'background-color':'pink'}" ng-mouseout="sunStyle={}">
        <h1 ng-style="sunStyle">I said to the sun</h1>
        <h1><i ng-style="sunStyle">"Tell me about the big bang"</i></h1>
        <h1 ng-style="sunStyle">The sun said</h1>
        <h1><i ng-style="sunStyle">"It hurts to become"</i></h1>
    </div>
</div>



