<div style="float: right;">
    <img ng-src="{{'/assets/images/personal/american_flag.jpg'}}" style="width: 100%; vertical-align: middle"/>
    <img ng-src="{{'/assets/images/personal/american_flag.jpg'}}" style="width: 100%; vertical-align: middle"/>
    <img ng-src="{{'/assets/images/personal/american_flag.jpg'}}" style="width: 100%; vertical-align: middle"/>
</div>
<div style="position: absolute; right: 0px; padding: 10px">
    <div ng-mouseover="sunStyle={'background-color':'lightgoldenrodyellow'}" ng-mouseout="sunStyle={}">
        <h1 ng-style="sunStyle">Harrison Richards Bartlett</h1>
        <h1><i ng-style="sunStyle">III 1/2</i></h1>
    </div>
</div>
