<div style="float: right;">
    <img ng-src="{{'/assets/images/new_orleans/Tongue.png'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/new_orleans/WitchTongues.JPG'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/new_orleans/StudioPond.png'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/new_orleans/BallEntrance.PNG'}}" style="vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/new_orleans/CityParkBoxSeats.PNG'}}" style="vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/new_orleans/IMG_7762.JPG'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/new_orleans/MusicBoxTowerDay.JPG'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/new_orleans/MusicBoxTowerNight.JPG'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/new_orleans/OSTARA.JPG'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/new_orleans/PortCrown.JPG'}}" style="width: 100%; vertical-align: middle;"/>
</div>