<div style="float: right;">
    <img ng-src="{{'/assets/images/new_orleans/Tongue.png'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/new_orleans/WitchTongues.jpg'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/new_orleans/StudioPond.png'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/new_orleans/BallEntrance.png'}}" style="vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/new_orleans/CityParkBoxSeats.png'}}" style="vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/new_orleans/MusicBoxTowerDay.jpg'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/new_orleans/MusicBoxTowerNight.jpg'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/new_orleans/OSTARA.jpg'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/new_orleans/PortCrown.jpg'}}" style="width: 100%; vertical-align: middle;"/>
</div>