<div style="float: right;">
    <img ng-src="{{'/assets/images/other/tower3.jpg'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/other/tower2.jpg'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/other/BlingSeelie.jpg'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/other/GARDENOFBLING.jpg'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/other/Dennis-McNett-Swoon-Armocida.jpg'}}" style="width: 100%; vertical-align: middle;"/>
    <img ng-src="{{'/assets/images/other/inaugurazione.jpg'}}" style="width: 100%; vertical-align: middle;"/>
</div>