<h1><a ng-style="getLinkColorCss('harrison')" ng-click="setCurrentLink('harrison')" href="#!">Harrison</a></h1>
<h1><a ng-style="getLinkColorCss('new_orleans')" ng-click="setCurrentLink('new_orleans')" href="#!new_orleans">New Orleans</a></h1>
<h1><a ng-style="getLinkColorCss('detroit')" ng-click="setCurrentLink('detroit')" href="#!detroit">Detroit</a></h1>
<h1><a ng-style="getLinkColorCss('sf_bay_area')" ng-click="setCurrentLink('sf_bay_area')" href="#!sf_bay_area">SF Bay Area</a></h1>
<h1><a ng-style="getLinkColorCss('other')" ng-click="setCurrentLink('other')" href="#!other">Other</a></h1>
<h1><a ng-style="getLinkColorCss('contact')" ng-click="setCurrentLink('contact')" href="#!contact">Contact</a></h1>
<h1><a ng-style="getLinkColorCss('friends_and_links')" ng-click="setCurrentLink('friends_and_links')" href="#!friends_and_links">Friends &amp; Links</a></h1